
<div class="container">

  <button class="btn-action "
    (click)="navigateToPage('app/entidad-create')"
    mat-raised-button
    color="primary">Crear Nuevo</button>

  <div class="container-form">
    <mat-form-field class="seleted-filter" appearance="fill">
      <mat-label>Filtro</mat-label>
      <mat-select (selectionChange)="filterForActive($event)" >
        <mat-option  value="true">Activos</mat-option>
        <mat-option value="false">Inactivos</mat-option>
      </mat-select>
    </mat-form-field>

    <br><br>
    <app-search />
  </div>

  <table mat-table  [dataSource]="dataSource"  >
    <ng-container *ngFor="let columns of displayedColumns">
      <ng-container *ngIf="columns.toLowerCase() != 'acciones'" >
        <ng-container [matColumnDef]="columns">
          <th mat-header-cell *matHeaderCellDef>{{columns}}</th>
          <td mat-cell *matCellDef="let element"> {{element[columns] ?? '-'}} </td>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="columns.toLowerCase() == 'acciones'" >
        <ng-container [matColumnDef]="columns">
          <th mat-header-cell *matHeaderCellDef>{{columns}}</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button
              [matMenuTriggerData]="{ data: element }"
              [matMenuTriggerFor]="actionsMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </td>
        </ng-container>
      </ng-container>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>



<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-Process="data" matMenuContent>
    <button  (click)="update('app/tipo-documento/1')"
      mat-menu-item>
      <span>Editar Documento</span>
    </button>
    <button  (click)="update('app/tipo-contribuyente/1')"
      mat-menu-item>
      <span>Editar Contribuyente</span>
    </button>
    <button (click)="openModal( )"
      mat-menu-item>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>
